body {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;
    height: 99vh;
    gap: 16px;
    background-color: rgb(235, 235, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
}

#optionsSlider, #optionsColour {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 300px;
}

#eraserImage {
    width: 24px;
    height: auto;
}

#grid-container {
    background-color: white;
    border-radius: 4px;
    border-style: s;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 100%;
    height: 60vh;
    aspect-ratio: 1;
}


.square {
    flex: 1 1 33.3%;
    display: flex;
    align-content: center;
    justify-content: center;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
}

#colorpicker, #rainbowBrush, #eraser {
    width: 50px;
    height: 27px;
}

#colorpicker:hover, #rainbowBrush:hover, #eraser:hover, #reset:hover {
    background-color: rgba(0, 0, 0, 0.233);
}

#sliderValue {
    font-weight: bold;
}

#confirmGridSize {
    height: 25px;
    width: 100px;
}

#reset {
    height: 50px;
    width: 200px;

}

button, input {
    background-color: white;
    border-width: 1px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vh;
    height: 40px;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}