body {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap: 32px;
    height: 100vh;
}

#data-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
   
}

#grid {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 100%;
    height: 60vh;
    aspect-ratio: 1;
}

.square {
    flex: 1 1 33.3%;
    display: flex;
    align-content: center;
    justify-content: center;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);


}

#sliderValue {
    font-weight: bold;
}

#confirmGridSize {
    height: 25px;
    width: 100px;
}

#reset {
    height: 50px;
    width: 200px;
}